$primaryColor: #13e293;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(24, 24, 24);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
  box-shadow: 0 3px 3px rgba(238, 238, 238, 0.6);

  .nav-item-search-btn {
    background-color: #f8f8f8;
    padding: 0 20px;
    border: none;
    border-left: 1px solid #d3d3d3;
  }

  .nav-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item-center {
    width: 35vw;
    display: flex;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    margin: 0 10px;
  }

  .nav-item-left {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-left: 15px;
  }

  .nav-item-right {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding-right: 25px;
  }

  .nav-item-search {
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 15px;
    font-size: 1.05rem;
    box-shadow: inset 0px 0px 1px #d3d3d3;
  }
}

.video-stats,
.comment-box,
.content {
  display: flex;
}

hr {
  margin: 5px 0 15px 0;
}

.content {
  width: 85vw;
  margin: 27px auto;
  main {
    width: 70%;
    padding-right: 20px;
    .video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .show-more-btn a {
    color: black;
    text-decoration: none;
  }

  aside {
    width: 30%;
    padding-left: 10px;
  }

  .video-title {
    margin-top: 10px;
    margin-left: 5px;
    padding: 0;
    font-size: 0.9rem;
  }

  .video-thumb {
    width: 44%;
  }

  .video-text {
    width: 56%;
  }
  .video-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .video-text h3 {
    padding: 0;
    margin: 0;
  }
  .video-text p {
    font-size: 0.8rem;
  }

  .video-stats,
  .video-creator {
    justify-content: space-between;
    padding-top: 10px;

    .user-icon {
      margin-right: 10px;
    }
    .user-title {
      font-weight: 600;
    }
  }
}

.up-next {
  display: flex;
  justify-content: space-between;
}

.video-box {
  display: flex;
  margin-bottom: 10px;
}

.video-thumb img {
  padding-right: 9px;
  width: 100%;
  height: auto;
}

.creator-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.creator-user-left {
  display: flex;
}

.subscribe {
  text-transform: uppercase;
  span {
    text-decoration: none;
    padding: 10px 17px;
    background: red;
    color: white;
  }
}

.posted-date {
  font-weight: 200;
  color: grey;
}

.video-description {
  padding-top: 11px;
  margin: 0 80px;
  p {
    margin-bottom: 10px;
  }
}

.comment-box {
  flex-direction: column;
}

.comments-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 19px;
}

.comments-sort > p {
  padding-right: 40px;
}

.comment {
  display: flex;
  margin-bottom: 45px;
}

.comment-box-name {
  display: flex;
}
.comment-box-social {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.comment-box-social img {
  margin-right: 8px;
}

.comment-box-user-name {
  padding-right: 10px;
  margin-bottom: 10px;
}

.comment-box-name p {
  color: grey;
}

.comment-box p {
  margin-bottom: 10px;
}

.user-icon img {
  padding-right: 10px;
}

@media (max-width: 610px) {
  .nav {
    .nav-item-search,
    .nav-item-search-btn {
      display: none;
    }
    .nav-item-center {
      border: none;
      background-image: url(images/mobilesearch.png);
      background-position: center;
      height: 50px;
      width: 50px;
      margin: 0;
      padding: 0 15px;
    }
  }
}
